node_modules
# .env

/src/generated/prisma


# Data / payload folders
data/
raw_payloads/

# Test files
test.js
test2.js
testOdds.js
test_output.json
oddsCheck.js
verification.js
randomTest.js

TESTS/