node_modules
# .env

/src/generated/prisma


# Data / payload folders
data/
raw_payloads/

# Test files
test.js
test2.js
testOdds.js
test_output.json
oddsCheck.js
verification.js
randomTest.js
league-245-2026.json
league-71-2026.json
bets.json
league-169-odds-2026.json

TESTS/